<main class="content2">
    <section>
        <div class="container">
            <div class="row pageHeading">
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <h1 class="pageTitle">
                    	My Policies
                    </h1>
                    <a href="#/" class="back-arrow fas fa-chevron-left"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-6">
                    <div class="payment-dues fltrt margin-top-25">
                    	<span>
							<h3 class="remaining-number fltlft margin-right-15">2</h3>
							<div class="fltlft margin-right-20 margin-top-6">
								<p class="font-16 margin-top-1 margin-bottom-0 font-weight-100">Payments Due</p>
								<p class="remaining-category">Bill &amp; Payments</p>
							</div>	            			
	            		</span>
                    </div>
                </div>
            </div>

            <div class="policy-list">

                <div class="row border-bottom pd-top-30 pd-btm-30 policy-row">
                    <div class="col-lg-4 col-sm-4 col-xs-9">
                        <p class="font-13 uppercase">Policy Name</p>
                        <p class="font-21">IPRU iCare II RP Option I</p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-3 policies-arrow">
                        <a href="#/policyDetails" ng-click="Ctrl.getPolicy(19364138)">
                            <div class="fas fa-long-arrow-alt-right arrow-right">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Number</p>
                                <p class="font-21">19364138</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Status</p>
                                <p class="font-21">Inforce</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Maturity Date</p>
                                <p class="font-21">30 June 2035</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row border-bottom pd-top-30 pd-btm-30 policy-row">
                    <div class="col-lg-4 col-sm-4 col-xs-9">
                        <p class="font-13 uppercase">Policy Name</p>
                        <p class="font-21">IPRU iCare II RP Option II</p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-3 policies-arrow">
                        <a href="#/policyDetails" ng-click="Ctrl.getPolicy(18730138)">
                            <div class="fas fa-long-arrow-alt-right arrow-right">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Number</p>
                                <p class="font-21">18730138</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Status</p>
                                <p class="font-21">Inforce</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Maturity Date</p>
                                <p class="font-21">14 July 2039</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row border-bottom pd-top-30 pd-btm-30 policy-row">
                    <div class="col-lg-4 col-sm-4 col-xs-9">
                        <p class="font-13 uppercase">Policy Name</p>
                        <p class="font-21">IPRU iCare II RP Option I</p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-3 policies-arrow">
                        <a href="#/policyDetails" ng-click="Ctrl.getPolicy(19371716)">
                            <div class="fas fa-long-arrow-alt-right arrow-right">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Number</p>
                                <p class="font-21">19371716</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Status</p>
                                <p class="font-21">Withdrawn</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Maturity Date</p>
                                <p class="font-21">2 July 2020</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row border-bottom pd-top-30 pd-btm-30 policy-row">
                    <div class="col-lg-4 col-sm-4 col-xs-9">
                        <p class="font-13 uppercase">Policy Name</p>
                        <p class="font-21">ICICI Pru Smart Life-RP</p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-3 policies-arrow">
                        <a href="#/policyDetails" ng-click="Ctrl.getPolicy(19369282)">
                            <div class="fas fa-long-arrow-alt-right arrow-right">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Number</p>
                                <p class="font-21">19369282</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Status</p>
                                <p class="font-21">Withdrawn</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Maturity Date</p>
                                <p class="font-21">30 June 2025</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row border-bottom pd-top-30 pd-btm-30 policy-row">
                    <div class="col-lg-4 col-sm-4 col-xs-9">
                        <p class="font-13 uppercase">Policy Name</p>
                        <p class="font-21">ICICI Pru Savings Suraksha-LP</p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-3 policies-arrow">
                        <a href="#/policyDetails" ng-click="Ctrl.getPolicy(19038156)">
                            <div class="fas fa-long-arrow-alt-right arrow-right">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-sm-7 col-xs-12">
                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Number</p>
                                <p class="font-21">19038156</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Policy Status</p>
                                <p class="font-21">Inforce</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4">
                                <p class="font-13 uppercase">Maturity Date</p>
                                <p class="font-21">8 May 2040</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>